$color01: #099d8d;//color verde oscuro
$color02:#14d9c4;//verde claro
$color-ligth: #ffffff;//blanco
$color-dark: #000000;//negro
$color03:#54585a;//gris oscuro
$color04:#b8b8b9;//gris claro
$color05: #f1f1f1;//gris de fondo