$color01: rgb(9, 157, 141);//color verde oscuro
$color02:rgb(20, 217, 196);//verde claro
$color-light: rgb(255, 255, 255);//blanco
$color-dark: #000000;//negro
$color03:#54585a;//gris oscuro
$color04:#b8b8b9;//gris claro
$color05: #f1f1f1;//gris de fondo
$color02trans:rgba(20, 217, 196, 0.7);
$color01trans:rgba(9, 157, 141, 0.7);
$color-lighttrans:rgba(255, 255, 255, 0.7);