body{
    margin:0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}


.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    flex:1;
    @media (min-width:768px) {
        width:442px;
        
    }
    @media (min-width:1200px) {
        width:601px; 
    }
    & form{
        display:flex;
        flex-direction: column;
        width: 80%; 
        @media (min-width:768px) {
            width:442px;
            
        }
        @media (min-width:1200px) {
            width:601px; 
        }
    }
    & input{
       height: 45px;
       margin-top:5px;
       border-style:none;
       border:1px solid $color03;
       font-family: $font-type;
        font-size: 1.2rem;
        padding: 5px;
        & :hover{
            color: $color02;
        }
    }
    & textarea{
        margin-top:5px;
       border-style:none;
       border:1px solid $color03;
       height: 105px;
       margin-bottom: 30px;
       font-family: $font-type;
        color:$color03;
        font-size: 1.2rem;
        padding: 5px;
    }
    & label{
        margin-top: 15px;
        font-family: $font-type;
        color:$color03;
        font-size: 1.2rem;
        padding: 5px;
    }
    & h2{
        font-family: $font-type;
        color:$color01;
        font-size: 2rem;
    }
}
.text1{
        font-family: $font-type2;
        color:$color03;
        font-size: 1.6rem;
        margin-left: 20px;
        margin-right: 15px;
    }
.text2{
        font-family: $font-type2;
        color:$color03;
        font-size: 1rem;
        margin:45px 15px 60px 20px;
    }
.asterisk{
        color:$color02;
        padding:5px;
    }


.submit{
    border:none !important;
    border-radius:5px;
    height: 45px;
    background: $color01;
    color:$color-light;
    font-size: 1.5rem !important; 
    margin-bottom:60px;
    &:hover {
        background-color: $color02;
    }
    @media (min-width:768px) {
       width: 206px;
       transform: translateX(115%);
    }
    @media (min-width:1200px) {
        transform: translateX(190%); 
        margin-bottom: 120px;
    }
}
.imgcontact {
    height: 250px;
  top:0;
  z-index: -1;
  margin-bottom: 30px;

  & .imgcont{
    height: 100%;
    width: 100%;
}
  @media (min-width:1200px){
      width: 100vw;
      margin:0;
      height: 300px;
    }
}
.phone{
    display: flex;
    flex-direction: column;
    @media (min-width:1200px){
        width: 162px;
        display:flex;
        flex-direction: column;
       
      }
}
.mail{
    display: flex;
    flex-direction: column;
    @media (min-width:1200px){
        width: 395px;
        display:flex;
        flex-direction: column;
        margin-right: 44px;
      }
}
.mailPhone{
    display: flex;
    flex-direction: column;
    @media (min-width:768px) {
        display: flex;
    flex-direction: column;
    }
    
    @media (min-width:1200px){
        display:flex;
        flex-direction: row;
      }
}