.navbar{
    width: 100vw;
    position: fixed;
    top:0;
    z-index: 10;
    @media (min-width:768px) {
        display:none;
    }
}


.navbar1{
    width:100vw;
    height: 60px;
    background: $color01trans;
    opacity:1;
    display:flex;
    justify-content: center;
    color:$color-light;
}
.navbar2{
    display:flex;
    justify-content: space-around;
    align-items: center;
    width:100vw;
    background: $color02trans;
    color:$color-light;
}
.navbar2 a{
    display:flex;
    align-items: center;
    color:$color-light;
    height: 2em;
    font-size:1rem;
    font-family: $font-type2;
    & a:hover{
        color: $color03;
    }
}
.navbarml{
    width: 100vw;
    position: fixed;
    top:0;
    z-index: 10;
    background: $color01;
    color:$color-light;
    display:flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:768px) {
        display:none;
    }
    @media (min-width:768px) {
opacity: 0.8;
    }
}

.textml {
    display:flex;
    justify-content: space-between;
    margin-right: 45px;
    width: 300px;
    align-items: center;
    & p{
        height: 1em;
        font-size:1rem;
        font-family: $font-type2;
    }
    & a{
        color:$color-light;
        font-size: 1rem;
        font-family: $font-type2;
        
    }
    & a:hover{
        color: $color03;
    }
    @media (min-width:1200px) {
        margin-right: 100px;
      
    }
}
.h3{
    color:$color-light;
    margin-left: 45px;
    @media (min-width:1200px) {
        margin-left: 100px;
    }
}
.h3{
   text-align: center;
   padding:15px;
   color:$color-light;
   &:hover {
    color: $color03;
   }
   @media (max-width:768px) {
        margin-left:0; 
   }
 
}