@import "core/variables";
@import "components/typography";
@import "components/img";
@import "components/equipo";
@import "components/contacto.scss";
@import "components/icons";
@import "layout/navbar";
@import "layout/footer";
@import "layout/discribe";
@import "layout/about";


body{
    margin:0;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
#container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}
.main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex:1;
}

.cub{
    width: 30px;
    height: 30px;
    background: $color-light;
    transform: rotate(45deg) translate(20px, 20px);
}